adal==1.2.7
altair==4.2.0
cachetools==5.2.0
dash==2.14.1
dash-bootstrap-components==1.5.0
numpy==1.23.2
openpyxl==3.0.10
pandas==1.4.3
pickleshare==0.7.5
Pillow==9.2.0
plotly==5.15.0
pyodbc==4.0.34
python-dotenv==1.1.0
requests
requests-oauthlib
Resource==0.2.1
semver==2.13.0
sharepy
smmap==5.0.0
streamlit==1.28.2
streamlit-authenticator==0.2.1
streamlit-option-menu==0.3.2
tabulate==0.8.10
toml==0.10.2
toolz==0.12.0
virtualenv==20.19.0